@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/* logo persada */
.logo-persada {
    width: 50px;
}

/* navbar style */
.nav-item.mx-auto a {
    font-size: 1rem;
}

.dropdown-menu.dropdown-menu-left.bg-dark {
    border: none;
    border-radius: none;
}

.dropdown-item:hover {
    background-color: #333;
}

/* jumbotron */
.content {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
}

.secs .lead.text-center {
    font-weight: bold;
}

.secs p {
    font-size: 4rem;
    font-weight: 900;
}

/* carousel */
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}



/* footer persada */
.container-fluid.footer
{
    margin-top: 10rem;
}

.footer-img img
{
    width: 5rem;
}

.footer-address h3
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}




/* responsive mobile */
@media screen and (min-device-width: 0px) and (max-device-width: 480px) {

    .secs .lead.text-center {
        font-weight: bold;
    }

    .secs p {
        font-size: 2rem;
        font-weight: 900;
    }

    .secs h3 {
        font-size: 1rem;
    }

    /* button section */
    .fa-sharp {
        font-size: 2.5rem;
    }

    .fa-solids {
        font-size: 2.5rem;
    }

    /* button */

    .fa-sharp.fa-solid.fa-house.fa-3x.text-success.pb-3 {
        font-size: 2rem;
    }

    .fa-sharp.fa-solid.fa-chalkboard-user.fa-3x.text-light.pb-3 {
        font-size: 2rem;
    }

    .fa-solid.fa-book.fa-3x.text-success.pb-3 {
        font-size: 2rem;
    }

    .text-center.font-weight-bold {
        font-size: 12px;
        font-weight: 900;
    }

    .col-4.col-md-4.text-center.py-3 .lead {
        font-size: 10px;
        font-weight: bold;
    }

    .sambutan .p-0 h2 {
        font-family: 'Poppins', sans-serif;
        font-size: 1.2rem;
    }

    .sambutan .p-0 h4 {
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        font-weight: bold;
    }

    .sambutan .p-0 p {
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
    }


}